{
  "freenode": {
    "host": "chat.freenode.net",
    "port": 6697,
    "ssl": {},
    "nick": "Eleos",
    "ident": "Eleos",
    "realname": "Eleos - https://git.libertas.tech/bs/Eleos",
    "sasl": ["PLAIN"],
    "username": "",
    "password": "",
    "flags": {
      "<ACCOUNT>": "<FLAGS>"
    }
    "channels": {
        "default": {
            "autojoin": true,
            "autorejoin": false,
            "prefix": "!"
        },
        "<CHANNEL>": {}
    }
  }
}
